.pip {
  border: 1px solid white;
  box-shadow: 2px 2px 2px grey;
  position: absolute;
}

.base {
  position: absolute;
}

.drag {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.drag:hover, .drag:active {
  cursor: pointer;
  background-color: white;
  transition: ease 0.1s all;
  transform: scale(1.2);

}

.shield {
  position: absolute;
}

.resizer {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.resizer:hover, .resizer:active {
  cursor: pointer;
  background-color: red;
  transition: ease 0.1s all;
  transform: scale(1.2);

}

.swapper {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.swapper:hover, .swapper:active {
  cursor: pointer;
  background-color: green;
  transition: ease 0.1s all;
  transform: scale(1.2);

}
