.pip {
  border: 1px solid white;
  box-shadow: 2px 2px 2px grey;
  position: absolute;
}

.base {
  position: absolute;
}

.drag {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.drag:hover {
  cursor: pointer;
  background-color: white;
  transition: ease 0.1s all;
  transform: scale(1.2);
}

#shield {
  position: absolute;
}

